.form-control:focus {
    outline: none !important;
    box-shadow: none;
    border-color: var(--bs-border-color);
}

.hide {
    visibility: hidden;
}

.area-content .line:hover .hide {
    visibility: visible;
}
